Button{
    -fx-background-color: transparent;
    -fx-border-color: #829715;
    -fx-border-radius: 0;
}

Button:hover{
    -fx-background-color-color: #b5cc18;
}

/*#infoButtons Button{
    -fx-background-color: transparent;
}

#infoButtons Button:hover{
    -fx-text-fill: grey;
}

#editButtons Button{
    -fx-background-color: transparent;
}

#editButtons Button:hover{
    -fx-text-fill: grey;
}*/