Button{
    -fx-background-color: transparent;
    -fx-border-color: #829715;
    -fx-border-radius: 0;
}

Button:hover{
    -fx-background-color: #b5cc18;
}

#topIdOutput{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#topIdOutput Label{
    -fx-font-size: 20;
}

#topMenu{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#topMenu Button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#topMenu Button:hover{
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#regBottomBar Button{
    -fx-background-color: transparent;
    -fx-text-fill: #2640ff;
    -fx-underline: true;
    -fx-border-color: transparent;
}

#regBottomBar Button:hover{
    -fx-border-color: transparent;
    -fx-text-fill: #7490ff;
}

#editBottomBar Button{
    -fx-background-color: transparent;
    -fx-text-fill: #2640ff;
    -fx-underline: true;
    -fx-border-color: transparent;
}

#editBottomBar Button:hover{
    -fx-border-color: transparent;
    -fx-text-fill: #7490ff;
}

.buttonstyling{
    -fx-background-color: transparent;
}