#topIdOutput{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#topIdOutput Label{
    -fx-font-size: 20;
}

#topMenu{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#topMenu Button{
    -fx-background-color: transparent;
}

#topMenu Button:hover{
    -fx-text-fill: white;
}