#topIdOutput{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#topIdOutput Label{
    -fx-font-size: 20;
}

#topMenu{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#topMenu Button{
    -fx-background-color: transparent;
}

#topMenu Button:hover{
    -fx-text-fill: white;
}

#regBottomBar Button{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-underline: true;
}

#editBottomBar Button{
    -fx-background-color: transparent;
    -fx-text-fill: blue;
    -fx-underline: true;
}

.buttonstyling{
    -fx-background-color: transparent;
}