Button{
    -fx-background-color: transparent;
    -fx-border-color: #829715;
    -fx-border-radius: 0;
}

Button:hover{
    -fx-background-color: #b5cc18;
}

#searchMenu{
    -fx-background-color: rgba(181, 204, 24, 0.44);
}

#searchMenu Button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#searchMenu Button:hover{
    -fx-text-fill: white;
    -fx-background-color: transparent;
}

#infoTop{
    -fx-font-size: 20;
    -fx-background-color: rgba(181, 204, 24, 0.44);
}